
@import "app/css/fluid_grid";

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

#container {
  @include container;
  height: auto;
  min-height: 100%;
}

#sidebar {
  @include grid(3);
}

#content {
  @include grid(6);
}

#databases {
  list-style: none;
}

#collections {
  list-style: none;
}

#documents {
}

header {
  @include grid(12);
  margin-top: 10px;
  margin-bottom: 10px;
}

header h1 {
  text-align: center;
}

footer p {
  @include grid(12);
  text-align: center;
}

// Global formatting

table {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 2px;
  border-collapse: collapse;
}


thead th.first {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px 4px;
}

th {
  background: #36393D;
  color: white;
  padding: 6px;
  font-weight: bold;
  text-align: left;
}

thead th.last {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px 4px;
}

td {
  border-bottom: 1px solid #F0F0EE;
  padding: 6px;
}

tr.odd {
  background: #EBEBEB;
}

tfoot th.first {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px 4px;
}

tfoot th.last {
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px 4px;
}

