
$container_width: 92%;
$gutter_width: 1%;
$number_of_columns: 12;

@mixin container {
	width: $container_width;
	/*margin-left: (100%-$container_width) / 2;*/
	/*margin-right: (100%-$container_width) / 2;*/
  min-width: 780px;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}

@mixin grid($size) {
	display: inline;
	float: left;
	position: relative;
	margin-left: $gutter_width;
	margin-right: $gutter_width;
	width: (100% / $number_of_columns) * $size - 2 * $gutter_width;
}

@mixin alpha {
	margin-left: 0;
}

@mixin omega {
	margin-right: 0;
}

@mixin prefix($size) {
  padding-left: (100% / $number_of_columns) * $size;
}

@mixin suffix($size) {
  padding-right: (100% / $number_of_columns) * $size;
}

@mixin push($size) {
  left: (100% / $number_of_columns) * $size;
}

@mixin pull($size) {
  left: -(100% / $number_of_columns) * $size;
}

