<script type="text/javascript">
  $(function() {
    App.init()
  })
</script>

<div id="databases">
  <div class="edit"></div>
</div>
<div id="collections">
  <div class="edit"></div>
</div>
<div id="documents">
  <div class="edit"></div>
</div>
