<script type="text/javascript">
  $(function() {
    App.init()
  })
</script>

<div id="sidebar">
  <div id="databases">
    <div class="edit"></div>
  </div>
  <div id="collections"></div>
</div>
<div id="content">
  <div id="documents"></div>
</div>
