<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Mongo Munch</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/application.css">
  <script type="text/javascript" src="/js/modernizr.js"></script>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/underscore.js"></script>
  <script type="text/javascript" src="/js/backbone.js"></script>
  <script type="text/javascript" src="/js/application.js"></script>
  <script type="text/javascript" src="/js/collections/databases.js"></script>
  <script type="text/javascript" src="/js/collections/collections.js"></script>
  <script type="text/javascript" src="/js/collections/documents.js"></script>
  <script type="text/javascript" src="/js/models/collection.js"></script>
  <script type="text/javascript" src="/js/models/database.js"></script>
  <script type="text/javascript" src="/js/models/document.js"></script>
  <script type="text/javascript" src="/js/views/collection_index.js"></script>
  <script type="text/javascript" src="/js/views/database_edit.js"></script>
  <script type="text/javascript" src="/js/views/database_index.js"></script>
  <script type="text/javascript" src="/js/routers/databases.js"></script>
  <script type="text/javascript" src="/jst.js"></script>
</head>
<body>
  <div id="container">
    <header>
      <h1>Mongo Munch</h1>
    </header>
    <div id="main" role="main">
      <%= yield %>
    </div>
    <footer>
      <p>&copy; <%= Time.now.year %></p>
    </footer>
  </div>
</body>
</html>
